<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Leftovers</title>
        <meta name="description" content="hackathon project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/foundation.min.css">
        <link rel="stylesheet" href="/css/extra_styles.css">
    </head>
    <body>
      <!-- body goes here -->
      <%= erb :_header %>

      <div class="row">
        <div class="small-6 medium-4 large-3 large-centered medium-centered small-centered columns">
          <img src="/img/turkey_leg.png" width="100%"/>
        </div>
      </div>
      <div class="row">
          <%= erb yield %>
      </div>


      <script type="text/javascript" src="/js/jquery.min.js"></script>
      <script type="text/javascript" src="/js/foundation.min.js"></script>
      <script src="js/foundation/foundation.topbar.js"></script>
      <script type="text/javascript">$(document).foundation();</script>
    </body>
</html>
