<div class="small-10 medium-7 large-6 large-centered medium-centered small-centered columns">
  <br><br><br><br>
  <center>
    <h2 style="color:white">Welcome!!</h2>
    <p>Please sign up to donate food or as a volunteer organization member.</p>
  </center>
</div>