<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/" class="top-bar-font">Leftovers</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><a href="/sign_in">Sign In</a></li>
      <li class="divider"></li>
      <li><a href="/sign_up">User Sign Up</a></li>
      <li class="divider"></li>
      <li><a href="/donate">Want to Donate</a></li>
      <li class="divider"></li>
      <li><a href="/contact">Contact Us</a></li>
      <li class="divider"></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </section>
</nav>