<div class="small-10 medium-7 large-6 large-centered medium-centered small-centered columns">
  <br><br><br><br>
  <center>
    <h2 style="color:white">Hey!</h2>
    <p style="color:white">Contact us at screwston@gohardinthepaint.com</p>
  </center>
</div>