<div class="small-10 medium-7 large-6 large-centered medium-centered small-centered columns signbox">
  <br>
  <center><h2>Restaurant Sign Up</h2></center>
  <div class="small-12 medium-10 large-10 large-centered medium-centered small-centered columns">
  <center>
    <form method="post" action="/donate">
      <br>
      <input type="text" name="username" placeholder="Restaurant Name"/></input>
      <input type="text" name="category" placeholder="Category"/></input>
      <input type="text" name="address" placeholder="Street Address"/></input>
      <input type="password" name="password" placeholder="Password"></input>
      <input type="password" name="password_confirm" placeholder="Confirm Password"></input>
      <input type="submit" class="submit small button"></input>
    </form>
  </center>
</div>