<div class="small-10 medium-7 large-6 large-centered medium-centered small-centered columns signbox">
  <br>
  <center><h2>Restaurant Sign Up</h2></center>
  <div class="small-12 medium-10 large-10 large-centered medium-centered small-centered columns">
  <center>
    <form method="post" action="/donate">
      <br>
      <input type="text" name="username" placeholder="Restaurant Name"/></input>
      <input type="text" name="category" placeholder="Category"/></input>
      <input type="text" name="address" placeholder="Street Address"/></input>
      <input type="password" name="password" placeholder="Password"></input>
      <input type="password" name="password_confirm" placeholder="Confirm Password"></input>
      <input type="submit" class="submit small button"></input>
    </form>
    <% if @result[:error] %>
      <% if @result[:error] == :restaurant_already_exists %>
        <p>A restaurant with that username already exist.
        Please choose another username</p>
      <% elsif @result[:error] == :mismatch_passwords %>
        <p>The passwords you entered don't match.
        Try again with matching passwords</p>
      <% else %>
        <p>Unknown error: <%= @result[:error] %></p>
      <% end %>
    <% end %>
  </center>
</div>