<div class="small-10 medium-7 large-6 large-centered medium-centered small-centered columns signbox">
  <br>
  <center>
    <h2>Restaurant Home Page</h2>
    <p>Give Out Food!!</p>
  </center>
  <div class="small-12 medium-10 large-10 large-centered medium-centered small-centered columns">
  <center>
    <form method="post" action="/food">
      <input type="text" name="name" placeholder="Name of Food"/></input>
      <input type="text" name="description" placeholder="Description"/></input>
      <input type="text" name="quantitiy" placeholder="Quantity"></input>
      <input type="text" name="food_url" placeholder="Image URL"></input>
      <input type="submit" class="submit small button"></input>
    </form>    
  </center>
</div>